<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [formControl]="filter" [(ngModel)]="search_word" (ionChange)="FilterByName($event.target.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- routerLink="/details" [queryParams]="{data:product}" -->
  <ion-item *ngFor="let product of filteredList | async" (click)="openDetails(product)"  routerDirections="forward">
    <ion-avatar slot="start">
      <img [src]="product.image">
    </ion-avatar>
    <ion-label>
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
    </ion-label>
  </ion-item>

</ion-content>
